NotesMakingForJava.txt
myfirstspringboot/src/main/resources/application-dev.yml
myfirstspringboot/src/main/resources/application-prod.yml
myfirstspringboot/src/main/resources/application.yml
myfirstspringboot/src/main/resources/application.properties
myfirstspringboot/target/classes
